#app
	h4.text Click the card or use arrow keys
	.page
		.front
			.image
				img(
					src="https://i.ibb.co/gmkfJnh/image-equilibrium.jpg",
					alt="nft",
					title="nft"
				)
				.overlay
					i.fas.fa-eye
			.content
				h2 Equilibrium #3429
				h5 Our Equilibrium collection promotes balance and calm
			.wrap
				span
					i.fab.fa-ethereum 
					span.ic 0.041 ETH
				span
					i.fas.fa-clock 
					span.ic 3 days left
		.back
			.profile
			span.meinname Creation of
				h5.name anish
			.contact
				a(
					href="https://codepen.io/coding_anish",
					target="_blank",
					onclick="void(0);"
				)
					i.fab.fa-codepen
				a(
					href="https://twitter.com/sisyphus_coding",
					target="_blank",
					onclick="void(0);"
				)
					i.fab.fa-twitter
